.navbar a{
	color: white;
}
.navbar a:hover{
	color: #fe9;
}
.navbar{
		background-color: #023;
}

body{
	background-color: rgb(225,225,225);
}
hr{
	width: 250px;
	border:1px solid #000;
	border-radius: 50% 50%;
	opacity: 0.5;
}
.jumbotron hr{
	width: 250px;
	border:1px solid #fff;
	border-radius: 50% 50%;
	opacity: 0.5;
}

.jumbotron{
	background-image: url(../front.jpg);
	background-size: cover;
	height: 600px;
	width: 100%;

}

.jumbotron img{
	margin-top: 80px;
	margin-bottom: 20px;
	border-radius: 50% 50%;
	height: 200px;
	width: 200px;
}

footer{
	background-color: #023;
	height: 55px;
	color: white;
}

@media (max-width: 670px){
	.texx{
		margin-left: 0;
	}
}
